In [6]:
import pandas as pd


# axis=0: Apply the calculation “column-wise”

# axis=1: Apply the calculation “row-wise”

In [7]:
df = pd.DataFrame({'team': ['A', 'A', 'B', 'B', 'B', 'B', 'C', 'C'],
                   'points': [25, 12, 15, 14, 19, 23, 25, 29],
                   'assists': [5, 7, 7, 9, 12, 9, 9, 4],
                   'rebounds': [11, 8, 10, 6, 6, 5, 9, 12]})

In [8]:
df

  team  points  assists  rebounds
0    A      25        5        11
1    A      12        7         8
2    B      15        7        10
3    B      14        9         6
4    B      19       12         6
5    B      23        9         5
6    C      25        9         9
7    C      29        4        12

In [11]:
df.mean(axis=0)

/tmp/ipykernel_22754/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

points      20.250
assists      7.750
rebounds     8.375
dtype: float64

In [12]:
df.mean(axis=1)

/tmp/ipykernel_22754/3676274908.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean(axis=1)

0    13.666667
1     9.000000
2    10.666667
3     9.666667
4    12.333333
5    12.333333
6    14.333333
7    15.000000
dtype: float64

In [15]:
df[['points', 'assists']].sum(axis=0)

points     162
assists     62
dtype: int64

In [16]:
df[['points', 'assists']].sum(axis=1)

0    30
1    19
2    22
3    23
4    31
5    32
6    34
7    33
dtype: int64